[LDAP]
server = ldap://localhost:389
bind_dn = cn=admin,dc=sch179,dc=local
bind_password = qwerty123
base_dn = dc=sch179,dc=local
user_ou = ou=people
group_ou = ou=groups

[KERBEROS]
realm = SCH179.LOCAL
kadmin_principal = kadmin/admin@SCH179.LOCAL
kadmin_password = qwerty123
check_method = kadmin.local

[ACADEMIC]
current_year = 2025

[NFS]
home_base = /home
skel_dir = /etc/skel
home_permissions = 750  # Права на домашний каталог пользователя (по умолчанию 750)

[QUOTAS]
default_soft_limit = 1G
default_hard_limit = 2G
default_inode_soft_limit = 1000000
default_inode_hard_limit = 1100000
quota_type = user

[LOGGING]
level = DEBUG
file = useradmin.log 